/* reset */

*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* -- styling --- */

:root{
    --dark: #06080C;
    --green: #001A12;
    --light: #FFFF;
    --primary: #00FFB7;
    --secondary: #003F2D;
    --dim-green: #001A12;
    --placeholder-text: #008862;
}

body{
    background: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

button{
    cursor: pointer;
}

.container{
    max-width: 500px;
    width: 100%;
    min-height: 500px;
    border: 2px solid var(--secondary);
    gap:20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: var(--dim-green);
}

#input-field{
    background-color: var(--secondary);
    border: none;
    width: 100%;
    height: 85px;
    border-radius: 20px;
    font-size: 15px;
    padding: 20px;
    font-weight: 700;
    color: var(--light);
    outline: none;
}

#input-field::placeholder{
    color: var(--placeholder-text);
}

.btn-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

button{
    width: 100%;
    height: 80px;
    border-radius: 20px;
    color: var(--primary);
    background: transparent;
    border: 5px solid var(--primary);
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s ease;
}

button:hover{
    transform: translateY(-3px);
    border-bottom: 10px solid;
}

.active{
    background: var(--primary);
    color: transparent;
}

.btn:focus{
    color: var(--dim-green);
    background-color: var(--primary);
    border-color: var(--placeholder-text);
}


#follow-btn{
    height: 30px;
    border: 3px solid;
    font-size: 14px;
    width: 100px;
    background-color: var(--primary);
    color: var(--dark);
    padding: 3px;
}

#follow-btn:hover{
    transform: scale(1.04);
}

.attribiutions{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    gap: 4px;
    color: var(--primary);
    font-weight: 500;
    flex-direction: column;
    margin-bottom: 20px;
}

.output-field{
    background:var(--secondary);
    width: 100%;
    height: 55%;
    border-radius: 20px;
    border: 2px solid var(--placeholder-text);
    padding: 20px;
    font-weight: 500;
    height: 200px;
    overflow: hidden;
}

#output-el{
    white-space: pre-wrap;   /* keeps line breaks and wraps long lines */
    word-wrap: break-word; 
}

.title span{
    color: var(--primary);
}

.title{
    font-size: 25px;
    margin-bottom: 10px;
}

.about{
    display: flex;
    gap: 10px;
}

.update-logs{
    font-size: 12px;
    color: var(--placeholder-text);
    font-weight: 400;
}

#cpy-btn{
    width: 70px;
    height: 40px;
    border: 3px solid var(--primary);
    font-size: 20px;
    border-radius: 10px;
    color: var(--dark);
    background-color: var(--primary);
}

@media(max-width: 480px) {

    #cpy-btn{
        width: 100%;
    }
    
    body{
        margin: 0px 10px;
    }

    .container{
        height: fit-content;
        gap: 20px;
    }

    .btn-container{
        flex-direction: column;
    }

    .title{
        text-align: center;
    }

}